# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = sikuyiproject.settings

[deploy]
url = http://192.168.0.249:6800/
project = sikuyiproject